{% extends "layout.html" %}
{% block title %} Meteo Rwanda Accumulated QPE {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/leaflet-1.6.0/leaflet.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/Plugins-leaflet/L.Control.MousePosition/L.Control.MousePosition.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('radar.static', filename='css/leaflet-radar-map.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='lib/leaflet-1.6.0/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/L.Control.MousePosition/L.Control.MousePosition.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/leaflet-color-markers/js/leaflet-color-markers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/rstudio-leaflet-2.0.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet.Spin-1.1.2/spin.js/spin.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet.Spin-1.1.2/leaflet.spin.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/leaflet-providers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet-easyPrint/bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/leaflet-windbarb.js') }}"></script>
<style>
    #butMapVar{
    width:100%;
    margin-top: 5px;
    }
    #butMapVar table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 5px 0;
    }
    #divcommand{
    margin: 10px auto 5px auto;
    width: 100%;
    border-style: groove;
    padding: 3px 2px 5px 2px;
    }
    .divcenter{
    margin: 5px auto 15px auto;
    width: 100%;
    }
    #mapOpacity {
    width: 100%;
    }
    #valueOpacity{
    font-weight: bold;
    }
    #accumulTime{
    height: 20px;
    }
    #accumulTime::-webkit-inner-spin-button {
    opacity: 1;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row wrapper">
        <!-- Left Panel -->
        <div class="col-sm-3 input-sidebar-left">
            <div class="row">
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Accumulated Total Rainfall</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div style="text-align: center;">
                                <br>
                                <span>
                                    <input type="number" name="accumul" id="accumulTime" step="1" min="1" max="72" value="1">
                                    <select name="tstep" id="timestepDispTS">
                                        <option value="hourly" selected>Hour</option>
                                        <option value="daily">Day</option>
                                    </select>
                                    <label>Accumulation</label>
                                </span>
                            </div>
                            <!--  -->
                            <div>
                                <label class="control-label">Select Date</label>
                                <br>
                                <table class="aws-select-time  map-select-time"></table>
                            </div>
                            <!--  -->
                            <div id="butMapVar">
                                <table>
                                    <tr>
                                        <td>
                                            <a id="radMapPrev">
                                                <button type="button" class="btn btn-primary btn-block">Previous</button>
                                            </a>
                                        </td>
                                        <td>
                                            <a id="radMapDis">
                                                <button type="button" class="btn btn-primary btn-block">Display</button>
                                            </a>
                                        </td>
                                        <td>
                                            <a id="radMapNext">
                                                <button type="button" class="btn btn-primary btn-block">Next</button>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--  -->
                            <div id="divcommand">
                                <!--  -->
                                <div>
                                    <span>
                                        <strong>Image Type</strong>
                                        <select name="rasterImgType" id="rasterImgType">
                                            <option value="pixels" selected>Pixel</option>
                                            <option value="smooth">Smooth</option>
                                        </select>
                                    </span>
                                </div>
                                <!--  -->
                                <div>
                                    <table id="mapOpacity">
                                        <tr>
                                            <td><label class="control-label">Image opacity</label></td>
                                            <td width="60%"><input id="slideOpacity" class="custom-range" type="range" min="0" max="1.0" step="0.1" value="0.8"></td>
                                            <td><span id="valueOpacity" class="text-primary">0.8</span></td>
                                        </tr>
                                    </table>
                                </div>
                                <!--  -->
                                <div>
                                    <label class="control-label">Background Map</label>
                                    <select name="basemapL" id="basemapL" class="form-control">
                                        <option value="openstreetmap">OpenStreetMap Mapnik</option>
                                        <option value="cartodb-dark">CartoDB DarkMatter</option>
                                        <option value="mapboxlight" selected>Mapbox Light</option>
                                        <option value="esriworldimagery">ESRI World Imagery</option>
                                    </select>
                                </div>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                </div>
                <!--  -->
                {% if session.logged_in %}
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span> Export Data </span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div>
                                <a id="exportDataB">
                                    <button type="button" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="display:none;"></i> Get Data in NetCDF </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!--  -->
            </div>
        </div>
        <!-- Right panel -->
        <div class="col-sm-9 main box">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#radardisp" data-toggle="tab"> Precipitation </a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="radardisp">
                    <!--  -->
                    <div class="leaflet-map-wrapper">
                        <div class="leaflet-map-row div-row1">
                            <div class="leaflet-map-col div-title">Accumulated Precipitation</div>
                            <div class="leaflet-map-col div-empty"></div>
                        </div>
                        <div class="leaflet-map-row div-row2">
                            <div id="mapRadarDisp" class="leaflet-map-col div-cont"></div>
                            <div class="leaflet-map-col div-ckey">
                                <table class="cont-ckey">
                                    <tr>
                                        <td class="table-ckey">
                                        </td>
                                        <td class="title-ckey">
                                            <p></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <p id="errorMSG"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{% if session.logged_in %}
<script type="text/javascript" src="{{ url_for('radar.static', filename='js/export-Accumul-QPE.js') }}"></script>
{% endif %}
<script type="text/javascript" src="{{ url_for('radar.static', filename='js/display-Accumul-QPE.js') }}"></script>
{% endblock %}