{% extends "layout.html" %}
{% block title %} Meteo Rwanda Aggregated QPE {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/leaflet-1.6.0/leaflet.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/Plugins-leaflet/L.Control.MousePosition/L.Control.MousePosition.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet.TimeDimension-1.1.1/leaflet.timedimension.control.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('radar.static', filename='css/leaflet-radar-map.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='lib/leaflet-1.6.0/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/L.Control.MousePosition/L.Control.MousePosition.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/leaflet-providers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet-easyPrint/bundle.js') }}"></script>
<!--  -->
<style>
    a.leaflet-control-timecontrol.timecontrol-date {
    width: 150px;
    padding-left: 30px !important;
    font-weight: bold;
    /*color: red;*/
    }
    #divcommand {
    margin: 10px auto 5px auto;
    width: 100%;
    border-style: groove;
    padding: 3px 2px 5px 2px;
    }
    #mapOpacity {
    width: 100%;
    }
    #valueOpacity {
    font-weight: bold;
    }
    </style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row wrapper">
        <!-- Left Panel -->
        <div class="col-sm-3 input-sidebar-left">
            <div class="row">
                <!--  -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Radar Cartesian</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div>
                                <label class="control-label">Select Time Step</label>
                                <select id="aggrTime" class="form-control">
                                    <option value="hourly">Hourly data</option>
                                    <option value="daily" selected>Daily data</option>
                                    <option value="monthly">Monthly data</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-12 sidebar box">
                    <div class="input-container">
                        <div class="input-container-title">
                            <span>Layer Control</span>
                            <span class="glyphicon glyphicon-plus input-container-icon"></span>
                        </div>
                        <div class="input-container-content">
                            <div id="divcommand">
                                <!--  -->
                                <div>
                                    <table id="mapOpacity">
                                        <tr>
                                            <td><label class="control-label">Image opacity</label></td>
                                            <td width="60%"><input id="slideOpacity" class="custom-range" type="range" min="0" max="1.0" step="0.1" value="0.8"></td>
                                            <td><span id="valueOpacity" class="text-primary">0.8</span></td>
                                        </tr>
                                    </table>
                                </div>
                                <!--  -->
                                <div>
                                    <label class="control-label">Background Map</label>
                                    <select name="basemapL" id="basemapL" class="form-control">
                                        <option value="openstreetmap">OpenStreetMap Mapnik</option>
                                        <option value="cartodb-dark">CartoDB DarkMatter</option>
                                        <option value="mapboxlight" selected>Mapbox Light</option>
                                        <option value="esriworldimagery">ESRI World Imagery</option>
                                    </select>
                                </div>
                                <!--  -->
                            </div>
                            <!--  -->
                            <div class="download">
                                <button type="button" id="downLeafletMap" class="btn btn-primary btn-block"> Download Map </button>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <!-- Right panel -->
        <div class="col-sm-9 main box">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#radardisp" data-toggle="tab">QPE Display</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="radardisp">
                    <!--  -->
                    <div class="leaflet-map-wrapper">
                        <div class="leaflet-map-row div-row1">
                            <div class="leaflet-map-col div-title">Rwanda C250P</div>
                            <div class="leaflet-map-col div-empty"></div>
                        </div>
                        <div class="leaflet-map-row div-row2">
                            <div id="mapRadarDisp" class="leaflet-map-col div-cont"></div>
                            <div class="leaflet-map-col div-ckey">
                                <table class="cont-ckey">
                                    <tr>
                                        <td class="table-ckey"> </td>
                                        <td class="title-ckey">
                                            <p></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <p id="errorMSG"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/iso8601-js-period-0.2.1/iso8601.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/dateformat.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/Plugins-leaflet/Leaflet.TimeDimension-1.1.1/leaflet.timedimension.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('radar.static', filename='js/display-AggrData-QPE.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/print-screen-map.js') }}"></script>
<!--  -->
<script type="text/javascript">
var wmsURL = '{{ wmsURL }}';
var wmsData = '{{ wmsData|tojson }}';
wmsData = JSON.parse(wmsData);
</script>
{% endblock %}