{% extends "layout.html" %}
{% block title %} Meteo Rwanda {% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
body {
    background-image: url("{{ url_for('static', filename='images/background.png') }}");
    background-repeat: round;
    background-size: 100px 100px;
}

.titre-rw {
    grid-area: headr;
}

.image-radar {
    grid-area: radar;
}

.image-aws {
    grid-area: aws;
}

.container {
    display: grid;
    grid-template-areas:
        'headr headr headr headr headr headr headr headr'
        'radar radar radar radar aws aws aws aws';
    grid-gap: 5px;
    padding: 2px;
}

.container>div {
    text-align: center;
}

.imgAccueil {
    width: 600px;
    height: 500px;
}

.daty-now {
    text-align: center;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="titre-rw">
        <h1>Welcome to Meteo Rwanda AWS and Radar Data Visualization</h1>
    </div>
    <div class="image-radar">
        <img class="imgAccueil" src="{{ url_for('static', filename='images/radar.png') }}" alt="radar" />
    </div>
    <div class="image-aws">
        <img class="imgAccueil" src="{{ url_for('static', filename='images/aws.png') }}" alt="aws" />
    </div>
</div>
<div>
    <p class="daty-now"> {{ date_now("%Y-%m-%d %H:%M") }}</p>
</div>
{% endblock %}
{% block javascript %}
<script>
</script>
{% endblock %}